<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AutoGestion"
        tools:targetApi="31">
        <activity
            android:name=".ui.Home"
            android:exported="true"
            android:theme="@style/Theme.AutoGestion">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- <activity android:name=".Home"/> -->
        <activity android:name=".ui.components.Camera" />
        <activity android:name=".ui.profiles.ClientProfile" />
        <activity android:name=".ui.profiles.VehicleProfile" />
        <activity android:name=".ui.forms.ClientForm" />
        <activity android:name=".ui.forms.VehicleForm" />
        <activity android:name=".ui.forms.RepairForm" />
        <activity android:name=".ui.forms.ClientFormUpdate" />
        <activity android:name=".ui.forms.VehicleFormUpdate" />
        <activity android:name=".ui.forms.RepairFormUpdate" />
        <activity android:name=".ui.forms.VehicleFormAdd" />
        <activity android:name=".ui.forms.RepairFormAdd" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>


</manifest>